https://www.census.gov/data/datasets/time-series/demo/popest/2010s-counties-total.html#par_textimage_70769902

In [5]:
import pandas as pd

In [50]:
unemployment = (pd.read_csv("static/unemployment_county_14mo.txt", sep="|",
                            names=['laus', 'fipsstate', 'fipscount', 'title',
                                   'period', 'labor','employed', 'level', 'rate'],
                            index_col=False))

In [47]:
unemployment.head()

,laus,fipsstate,fipscount,title,period,labor,employed,level,rate
0,CN0100100000000,1.0,1.0,"Autauga County, AL",May-19,"26,271","25,680",591,2.2
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",May-19,"98,311","96,129","2,182",2.2
2,CN0100500000000,1.0,5.0,"Barbour County, AL",May-19,"8,416","8,152",264,3.1
3,CN0100700000000,1.0,7.0,"Bibb County, AL",May-19,"8,605","8,391",214,2.5
4,CN0100900000000,1.0,9.0,"Blount County, AL",May-19,"25,136","24,589",547,2.2

In [34]:
unemployment.dropna()

,laus,fipsstate,fipscount,title,period,labor,employed,level,rate
0,CN0100100000000,1.0,1.0,"Autauga County, AL",May-19,"26,271","25,680",591,2.2
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",May-19,"98,311","96,129","2,182",2.2
2,CN0100500000000,1.0,5.0,"Barbour County, AL",May-19,"8,416","8,152",264,3.1
3,CN0100700000000,1.0,7.0,"Bibb County, AL",May-19,"8,605","8,391",214,2.5
4,CN0100900000000,1.0,9.0,"Blount County, AL",May-19,"25,136","24,589",547,2.2
...,...,...,...,...,...,...,...,...,...
45061,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",Jun-20(p),12967,11408,1559,12
45062,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Jun-20(p),2603,2375,228,8.8
45063,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Jun-20(p),6757,6159,598,8.9
45064,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Jun-20(p),8164,7395,769,9.4
45065,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Jun-20(p),9076,8125,951,10.5

In [51]:
unemployment.iloc[0].period.strip()

'May-19'

In [36]:
unemployment[unemployment['level'] == 591]

Empty DataFrame
Columns: [laus, fipsstate, fipscount, title, period, labor, employed, level, rate]
Index: []

In [28]:
unemployment

Empty DataFrame
Columns: [laus, fipsstate, fipscount, title, period, labor, employed, level, rate]
Index: []